@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,500&display=swap");

html,
body,
th,
td,
input,
textarea,
select {
  font-family: "Poppins" !important;
  font-size: 13px;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left: calc(var(--bs-gutter-x) * -.5);
}

.row.hide {
  display: none;
}

.no-bg {
  background: none !important;
  box-shadow: none !important;
}
.display-f-dir-column {
  display: flex;
  flex-direction: column;
}

.display-f-dir-row {
  display: flex !important;
  flex-direction: row !important;
}

.display-v-h-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.m-0 {
  margin: 0 !important
}
.p-0 {
  padding: 0 !important;
}
.mt-3 {
  margin-top: 16px !important;
}
.mb-4 {
  margin-bottom: 24px !important;
}
.mt-4 {
  margin-top: 24px !important;
}
.btn {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 13px;
    border: 0px;
    transition: all 0.15s ease-in-out 0s;
    margin: 0px;
    padding: 6px 16px;
    height: 32px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 2px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: none;
    background-color: transparent;
    color: #333333;
    text-shadow: none;
    box-shadow: none;
  }
  .btn:focus,
  .btn:hover {
    box-shadow: none;
    background: none;
    text-shadow: none;
  }

  .btn svg {
    color: currentColor;
  }

  .btn-group-inline {
    display: inline-flex;
    align-items: center;
  }
  .btn-group-inline > .btn:not(:first-child) {
    margin-left: 8px;
  }
  
  .btn-inline-icon,
  .btn-inline-icon-right {
    margin-right: 5px;
    width: auto;
    height: auto;
    display: inline-flex;
  }
  
  .btn-inline-icon-right {
    margin-left: 5px;
    margin-right: 0;
  }
  
  .btn-primary:not(:disabled) {
    background-color: #177b8f;
    color: #ffffff;
    outline: none;
    box-shadow: none;
    border: 2px solid #177b8f;
  }
  
  .btn-primary:not(:disabled):hover {
    background-color: #106273;
  }
  
  .btn-primary:not(:disabled):focus,
  .btn-primary:not(:disabled):not(.disabled):active,
  .btn-primary:not(:disabled):not(.disabled):active:focus {
    background-color: #177b8f;
    color: #ffffff;
    outline: none;
    box-shadow: none;
    border: 2px solid #177b8f;
    box-shadow: #ffffff 0px 0px 0px 1px inset;
  }
  
  .btn-primary:disabled {
    box-shadow: none;
    opacity: 1;
    background-color: #c7c7c7;
    cursor: not-allowed;
  }
  
  .btn-secondary:not(:disabled) {
    color: #177b8f;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: 2px solid transparent;
  }
  
  .btn-secondary:not(:disabled):hover {
    background-color: #f7f7f7;
    color: #106273;
    border: 2px solid #f7f7f7;
  }
  
  .btn-secondary:disabled {
    color: #c7c7c7;
    cursor: not-allowed;
    background: transparent;
  }
  
  .btn-secondary:not(:disabled):focus,
  .btn-secondary:not(:disabled):not(.disabled):active,
  .btn-secondary:not(:disabled):not(.disabled):active:focus {
    border: 2px solid #177b8f;
    background-color: transparent;
  }
  
  .btn-secondary:active:focus {
    box-shadow: none;
  }
  
  .dropdown-label {
    margin: 4px;
    color: rgb(141, 141, 141);
  }
  
  .dropdown-label-ghost {
    margin-bottom: 2px;
    color: rgb(141, 141, 141);
    width: max-content;
  }
  
  .dropdown-label + .btn {
    padding: 4px 8px;
  }
  
  .dropdown-label + .btn:focus {
    outline: 2px solid #177b8f;
  }
  
  .dropdown-close-btn {
      margin: 0;
      padding: 0;
  }
  
  .dropdown-menu {
      min-width: 160px;
      padding: .5rem 0;
      margin: .125rem 0;
      font-size: 15px;
      color: #333333;
      text-align: left;
      list-style: none;
      background-color: #ffffff;
      background-clip: padding-box;
      border: 1px solid rgba(0,0,0,0.15);
      border-radius: 2px;
      box-shadow: 0px 2px 4px rgb(0 0 0 / 20%);
      max-height: 208px;
      overflow: auto;
  }
  
  .dropdown-menu  .dropdown-item {
    display: block;
    padding: 7px 12px;
    clear: both;
    font-weight: 400;
    color: rgb(51, 51, 51);
    text-align: inherit;
    background: none;
    border: 0px;
    align-items: center;
    position: relative;
    line-height: 20px;
    outline: none;
    font-size: 13px;
    font-family: inherit;
    position: relative;
  }
  
  .dropdown-menu .dropdown-item:hover {
    color: hsl(200, 3.5%, 15.8%);
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: #f7f7f7;
  }
  
  .dropdown-item {
      font-size: 13px;
  }
  
  .dropdown-item.disabled, .dropdown-item:disabled {
      color: #c7c7c7;
      cursor: not-allowed;
  }
  
  .prism-spinner-container {
    display: inline-block;
    position: relative;
  }
  
  .prism-spinner-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .prism-spinner {
    color: rgba(90, 90, 90, 0.2);
    border: 2px solid rgba(90, 90, 90, 0.2);
    border-right-color: #5a5a5a;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    box-sizing: content-box;
    position: relative;
    -webkit-animation: rotateSpinner 0.8s linear infinite;
    animation: rotateSpinner 0.8s linear infinite;
  }
  .tooltip .tooltip-arrow {
    position: absolute;
    display: block;
    width: 0.8rem;
    height: 0.4rem;
  }
  .tooltip .tooltip-arrow::before {
    position: absolute;
    content: "";
    border-color: transparent;
    border-style: solid;
  }
  
  .bs-tooltip-top, .bs-tooltip-auto[data-popper-placement^=top] {
    padding: 0.4rem 0;
  }
  .bs-tooltip-top .tooltip-arrow, .bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .bs-tooltip-top .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before {
    top: 5px;
    border-width: 0.4rem 0.4rem 0;
    border-top-color: #000;
  }
  
  .bs-tooltip-end, .bs-tooltip-auto[data-popper-placement^=right] {
    padding: 0 0.4rem;
  }
  .bs-tooltip-end .tooltip-arrow, .bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow {
    left: 0;
    width: 0.4rem;
    height: 0.8rem;
  }
  .bs-tooltip-end .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before {
    right: -1px;
    border-width: 0.4rem 0.4rem 0.4rem 0;
    border-right-color: #000;
  }
  
  .bs-tooltip-bottom, .bs-tooltip-auto[data-popper-placement^=bottom] {
    padding: 0.4rem 0;
  }
  .bs-tooltip-bottom .tooltip-arrow, .bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow {
    top: 0;
  }
  .bs-tooltip-bottom .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=bottom] .tooltip-arrow::before {
    bottom: -1px;
    border-width: 0 0.4rem 0.4rem;
    border-bottom-color: #000;
  }
  
  .bs-tooltip-start, .bs-tooltip-auto[data-popper-placement^=left] {
    padding: 0 0.4rem;
  }
  .bs-tooltip-start .tooltip-arrow, .bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow {
    width: 0.4rem;
    height: 0.8rem;
    top: 50%;
    transform: translateY(-50%);
    right: -7px;
    opacity: 0.9;
  }
  .bs-tooltip-start .tooltip-arrow::before, .bs-tooltip-auto[data-popper-placement^=left] .tooltip-arrow::before {
    left: -2px;
    border-width: 0.4rem 0 0.4rem 0.4rem;
    border-left-color: #000;
  }
  
  .tooltip-inner {
    max-width: 200px;
    padding: 4px 12px;
    color: #fff;
    text-align: center;
    background-color: rgba(21, 21, 21, 0.9);
    border-radius: 2px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
  }

  .form-control {
    color: #333333 !important;
    border: 1px solid #8d8d8d !important;
    background-color: #ffffff !important;
    border-radius: 2px !important;
    padding: calc(12px / 2) 12px !important;
    width: 100% !important;
    font-size: 13px !important;
    outline: none;
    font-family: "Poppins", sans-serif !important;
    margin-bottom: 0px !important;
    display: block;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .form-control:not(.form-control.readOnly):focus {
    box-shadow: 0 0 0 2px #177b8f;
    outline: none;
    border: none !important;
  }
  
  .form-control:not(textarea.form-control) {
    height: 32px !important;
  }

  textarea.form-control {
    height: 64px !important;
  }

  .form-control::placeholder {
    color: #717171;
    font-style: italic;
    font-weight: 300;
  }

  .form-label,
  .form-label .shadefont {
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 12px !important;
    color: #333333 !important;
    margin: 0;
    line-height: 16px !important;
    font-family: "Poppins" !important;
    margin-bottom: 5px !important;
  }

  .form-label .shadefont {
    margin: 0;
    display: inline-block;
  }

  .form-label.ellipse {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .form-group {
    margin-bottom: 16px;
  }

  .form-group.shadebkg {
    background: transparent !important;
    padding: 0;
    border: none !important;
  }

  .form-group.shadebkg .form-control,
  .shadefont + .form-control {
    color: #ad1d25 !important;
    background-color: #fff5f5 !important;
    box-shadow: 0 0 0 2px #eb5b63;
    border: transparent !important;
    outline: none;
  }

  .form-group.shadebkg .form-control::placeholder {
    color: #ad1d25;
  }

  .error-text {
    color: #ad1d25 !important;
    font-size: 12px !important;
    font-style: italic;
    font-weight: 400;
    line-height: 16px;
    margin-top: 4px;
    display: block !important;
  }

  .toast-container {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    z-index: 1;
  }

  #errorGutter.error-getter-container {
    background: transparent !important;
    border: 0 !important;
  }

  .p-3 {
    padding: 1rem!important;
  }
  .translate-middle-x {
    transform: translateX(-50%)!important;
  }
  .start-50 {
    left: 50%!important;
  }
  .top-0 {
    top: 0!important;
  }
  .position-absolute {
    position: absolute!important;
  }

  .d-flex {
    display: flex!important;
}

  .toast,
#uiActionMsg {
  display: block;
  opacity: 1;
  box-sizing: content-box;
  max-width: 480px;
  background: rgb(51, 51, 51);
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 4px;
  border: none;
  border-radius: 2px;
}

.toast.urjent,
#uiActionMsg.urjent {
  border-left: 8px solid rgb(252, 136, 142);
}

.toast.success,
#uiActionMsg.success {
    border-left: 8px solid rgb(131, 189, 89);
}

#uiActionMsg {
  color: #ffffff;
  display: none;
}

.toast-body {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: rgb(255, 255, 255);
  word-break: break-word;
  white-space: normal;
  flex: 1;
  margin: 8px 8px 8px 12px;
  padding: 0;
}

.toast-icon {
  margin: 10px 8px 0px 0px;
  cursor: pointer;
}

.toast-left-icon {
  margin: 10px 0px 0px 8px;
}

.toast-icon > svg {
  color: #ffffff;
}

.toast.urjent .toast-left-icon > svg {
  color: rgb(252, 136, 142);
}

.toast.success .toast-left-icon > svg {
    color: rgb(131, 189, 89);
}

#errorGutter.modal-error-container .toast-container {
  display: flex;
  width: 100%;
  position: relative;
}

 .modal-error-container .toast.urjent {
  width: 100%;
  background: #FFF5F5;
  border: 1px solid #EB5B63;
  color: #333333;
  max-width: 100%;
}

.modal-error-container .toast-icon {
  display: none;
}

.modal-error-container .toast.urjent .toast-body {
  color: #333333;
}

.table-wrapper {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  font-family: "Poppins" !important;
  margin-top: 16px;
  color: #333333;
  font-size: 12px;
  font-weight: 400;
  max-height: calc(100% - 100px);
  overflow: auto;
  background-color: #ffffff;
}

.dashboard-table thead th,
.dashboard-table th,
.dashboard-table td {
    padding: 4px 16px;
    vertical-align: middle;
    min-width: 100px;
    box-shadow: none;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    font-family: 'Poppins'  !important;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    height: 40px;
}

.dashboard-table > :not(:last-child) > :last-child > * {
  border-bottom-color: #e5e5e5;
}

.dashboard-table tbody td {
  background-color: transparent;
}

.dashboard-table tbody tr {
    background-color: #ffffff;
}

.dashboard-table tbody tr:hover,
.dashboard-table tbody tr.active {
  background-color: #f0f8fa;
}

.dashboard-table thead.thead-fixed {
    position: sticky;
    top: 0;
    z-index: 2;
    background: #ffffff;
    border-bottom: 1px solid #E5E5E5;
}

.dashboard-table thead th {
  border-bottom-width: 1px;
  text-align: left;
  font-weight: 500;
}
  
  @keyframes rotateSpinner {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @media (min-width: 576px) {
    .modal-sm {
      max-width: 400px !important;
      width: 100% !important;
    }
    .modal-md {
      max-width: 600px !important;
      width: 100% !important;
    }
    .modal-lg {
      max-width: 800px !important;
      width: 100% !important;
    }
    .modal-xl {
      max-width: 1200px !important;
      width: 100% !important;
    }
    .modal-xxl {
      max-width: 100% !important;
      width: 100% !important;
    }
  }
  